h1{
    /* background-color: aqua; */
  margin-left: 50px;
  text-align: center;
  margin-top: 20px;
color: grey;
}

footer{
    text-align: center;
    margin-top: 10px;
}
figure{
    text-align: center;
    width: 100%;
    /* background-color: aqua; */
    
}
h2{

    text-align: center;
}
article{
    text-align: center;
}
    
